@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.my-font {
  font-family: "Patrick Hand", sans-serif;
}

.homePage {
  background-color: #e7d8a5;
  min-height: 100vh;
}

.nav-logo {
  width: 1.5rem;
  margin: 0 0.5rem;
}
