<%- include('../partials/html-head.ejs') %>
<main class="homePage">
  <%- include('../partials/nav') %>
  <div class="container-fluid">
    <div class="d-flex justify-content-between p-1">
      <h5>BookList</h5>
      <a href="/book/new"><span>ADD NEW BOOK</span> </a>
    </div>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
